
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

 

<button onclick="">logout</button>
<section id="main">
    <h4>DASHBORD</h4>
   @* https://localhost:44347/Dashbord/Index*@
</section>
