
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}



<button onclick="">logout</button>
<section id="main">
    <h4>DASHBORD</h4>
</section>
<section class="container" id="feedbackQuestions">
    <div class="row ">
       
    </div>
</section>
<script src="~/Scripts/feedback/get_feedback_data.js"></script>